.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.change-styles {
  width: 100%;
  height: 300%;
  background-color: red;
}

@media (max-width: 500px) {
  .change-styles {
    background-color: green;
  }
}

.change-layout {
  display: flex;
  flex-direction: row;
}

@media (max-width: 500px)
{
  .change-layout {
    flex-direction: column;
  }
}


.common-breakpoints {
  width: 100%;
  height: 300px;
  background-color: blue;
}

@media (min-width: 320px) and (max-width: 480px) {
  .common-breakpoints {
    background-color: aqua;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .common-breakpoints {
    background-color: burlywood;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .common-breakpoints {
    background-color: darkseagreen;
  }
}

@media (min-width: 1281px) and (max-width: 1920px) {
  .common-breakpoints {
    background-color: oldlace;
  }
}