.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* Todo 2.0: Define  Define and apply CSS styles such that the background of .change-styles changes to
a different color when the screen is smaller than 500px*/
.change-color {
  background-color: red;
}

/* Todo 2.1: Define and apply CSS styles such that the layout of .change-layout becomes a column
when the screen's width is smaller than 500px */
.change-layout {
  display: flex;
  flex-direction: row;
}

/* Todo 2.2: Define the common breakpoints for the following devices - phone, tablet, small screens (laptop), and large screens (desktops).
For each break point, the background of .common-breakpoints must change. You may not use two rules in one media query i.e. you cannot do "(min-width: 100) and (max-width: 200px)" 
*/
.common-breakpoints {
  width: 100%;
  height: 300px;
  background-color: blue;
}
